*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.cabecalho{
    text-align: center;
    color: aliceblue;
  }
  .joao{
    text-align: center;
    color: aliceblue;
    height: 50px;
    font-size: large;
  }

  .joji{
    text-align:left;
  }

  .img{
    width: 100%;
    height: 550px;
  }

  .pedro{

      text-align: center;
      color: aliceblue;
      height: 200px;
      font-size: large;
    
  }
  
  .rodape{
    text-align: center;
    color: aliceblue;
  }
  
  .log{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 20px 0px;
    color: aliceblue;
    width: 400px;
    height: 350px;
  }


.main{
  display: flex;
  flex-direction: column;
  align-items:  center;
}

.hzin{
  display: flex;
  flex-direction: column;
  align-items:  center;
}

.logo-img{
  margin-right: 10px;
}


